
<form style="display: flex; justify-content: center; margin-top: 20px;">
  <input  name="task" [(ngModel)]="task"
          placeholder="Add new task"  style="padding:7px" type="text"/>

  <button (click)="onAddTask($event)"type="button" style="margin-left: 15px">Add</button>
</form>

<app-task
  *ngFor="let oneTask of tasks; let i = index"
  [task] ="oneTask.task"
  (delete)="onDeleteTask(i)"
  [taskInput]="oneTask.taskInput"
  (taskChange)="onChangeTaskInput(i, $event)"
></app-task>


