.task1{
  border: 1px solid black;
  padding: 10px;
  width: 200px;
  margin: 10px;
}

.taskInput{
  border:none;
}

.taskInput:focus{
  border-bottom: 1px solid black;

}

.checkbox:checked + app-task{
  background-color: lightblue;
  color:blue;
}
