<div class="task1">{{task}}<button (click)="onDeleteClick()" style="margin-left: 10%">
  Delete</button>
  <input class="taskInput" style="margin-top: 5px" type="text" name="taskChange" [value]="task" (input)="onTaskInput($event)"></div>
